:root {
  --white: white; 

  --orange-primary: #f47458;
  --orange-secondary: #e7593a;
  --blue-background-Secondary: #DFEBF9
  --border-white-blue: #86b1f2;
  --text-blue: #0052d6;

  --background-white: #FFFBED;
  --background-card-white: #FFF2E7;
  --background-card-white-blue: #CBE4FD;
  --background-card-dark-blue: #B4D1F1;

}
